/* CSS Document */

@font-face {
	font-family: "OpenSans-Bold";
	src: url('fonts/OpenSans-Bold.woff2') format('woff2'),	
		 url('fonts/OpenSans-Bold.ttf') format('truetype'),
		 url('fonts/OpenSans-Bold.woff') format('woff');
		 font-weight: bold;
		 font-style: normal;
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url('fonts/OpenSans-Regular.woff2') format('woff2'),	
		 url('fonts/OpenSans-Regular.ttf') format('truetype'),
		 url('fonts/OpenSans-Regular.woff') format('woff');
		 font-weight: normal;
		 font-style: normal;
}

*, *:before, *:after {
	box-sizing: border-box;
}	

html {
	min-width: 320px;	
	font-size: 100%;
	
}

/* Style the body */
body {
    width: 100vw;
    height: 100vh;
	height: 100vh;
	margin: 0;	  
    font-family: "OpenSans-Bold", "OpenSans-Regular", Arial, Helvetica, sans-serif;   
}


/* Header and Footer background */
.header, .footer {
	width: 100%;
	height: 90%;
	position: relative;		
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;				
    background-size: cover;
}

/* transparent background */
.header:before, .footer:before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-color: rgba(15, 18, 45, 0.8);
}

/* Content Header and Footer */
.header_content, .footer_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 1;	
}

.header_title {
	width: 80%;
	display: inline-flex;	
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-around;
	font-size: 1.3em;
	text-transform: uppercase;
	color: white;
}

.header_title_span {
	display: inline-block;
	margin: 0;
	padding-left: calc( (100% - 50%) / 2);		
}

/* Buttons Header and Footer */
.btn_container, .container_download {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

.btn_apple, .btn_google {
	height: 4.6em;
	width: 20em;
	margin: 1.5em;
	border: none;
	border-radius: 20px;
	text-align: left;	
	font-size: 0.6em;
	text-transform: uppercase;	
	color: #ffffff;
	
}

.btn_apple {
	background: url("../svg/apple_logo_black.svg") 10% center no-repeat rgba(75, 38, 163, 1);
	background-size: 17%;
	padding-left: 6em;		
}

.btn_google {
	background: url("../svg/google_play.svg") 20% center no-repeat rgba(75, 38, 163, 1);
	background-size: 17%;	
	padding-left: 8em;		
}

.btn_apple_span {
	display: block;
	font-weight: bold;
}

.btn_google_span {
	display: block;
	font-weight: bold;
}

/* Logotype */
.logo_text {
	width: 8em;
	height: 1.9em;
}

.logo {
	width: 4em;
	height: 4em;
	padding-top: 1em;
}

.container_logo {
	height: 5em;
	width: 5em;
	text-align: center;
	padding: 0;
	margin: 0;	
	border: none;
	border-radius: 1em;
	background-color: rgba(75, 38, 163, 1);	
}

.download_name {
	text-transform: uppercase;
}

.download_app {
	margin: 0;
	padding: 0;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: #ffffff;		
}

.download_p {
	margin: 0;
	font-size: 0.5em;
	font-style: normal;
	line-height: 1em;
	color: rgba(146, 129, 190, 1);			
}

/*  MAIN  */

.main {
	width: 100%;
}


/* Articles ATHLETS and PLAYERS */

.article_athlets, .article_players  {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.headers {
	margin: 0;
	padding: 1em;
	font-size: 3em;
	text-transform: uppercase;	
	color: rgba(225, 225, 225, 1);
}

.article_athlets .headers {
	padding-left: 50vw;
}

.img_footballer, .img_basketballer {
	width: 50%;
	height: 100%;
	display: block;
	position: absolute;	
	margin: 0;
}

.img_basketballer {
	right: 0;
}

.img_footballer .images, .img_basketballer .images {
	max-width: 100%;
	max-height: 100%;
}	

.img_footballer .images {
	position: absolute;
	top: auto;
	left: auto;
	right: 3em;
	bottom: -3em;
}

.img_basketballer .images {
	position: absolute;
	top: auto;
	left: -5em;
	right: auto;
	bottom: auto;
}
	
.athlets_description, .players_description {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: flex-start;
	margin: 0;
}

.connection_box, .collaboration_box, .growth_box {
	min-height: 10em;	
	margin: 0;	
	align-self: stretch;
}

.connection_box {
	background-color: rgba(249, 249, 249, 1);
}
		
.collaboration_box {
	background-color: rgba(245, 245, 245, 1);
}
	
.article_athlets .growth_box {
	background-color: rgba(75, 38, 163, 1);
}
	
.article_players .growth_box {
	background-color: rgba(8, 8, 50, 1);
}
	
.athlets_description .connection_box, .athlets_description .collaboration_box, .athlets_description .growth_box {
	padding-right: 2em;
	padding-left: 50vw;			
}

.players_description .connection_box, .players_description .collaboration_box, .players_description .growth_box {
	padding-left: 2em;
	padding-right: 50vw;			
}

/* Subheaders: connection, collaboration, growth */
.sub_headers {
	font-size: 1.5em;
	text-transform: uppercase;	
	color: rgba(180, 180, 180, 1);
	margin-bottom: 0;
}

.number {
	display: inline-block;
	position: relative;
	left: 0;
	bottom: 7px;		
	height: 1.5em;
	width: 1.2em;
	font-size: 0.6em;
	color: black;
}

.number:before {
	content: "";	
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	background-color: rgba(75, 38, 163, 1);
	border-radius: 25px;
}

.growth_box .number:before {
	background-color: #ffffff;
}

.article_players .growth_box .number {
	color: rgba(120, 75, 230, 1);
}

/* Text in connection, collaboration, growth and Article BE ACTIVE */
.text_box {
	font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif; 
	font-size: 1em;
}

.growth_box .text_box {
	color: #f7f7f7;
}



/* Article BE ACTIVE and FIND CONTACT and WORK IT */
.article_be_active {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

/* Section in Article */
.be_active, .find_contact, .work_it {
	position: relative;
	width: 100%;
	display: flex;
}

.img_be_active, .img_find_contact, .img_work_it {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #bcdbff;
}

.img_be_active .images, .img_find_contact .images, .img_work_it .images {
	max-width: 100%;	
}

.img_find_contact {
	order: 1;
}

.text_be_active, .text_find_contact, .text_work_it {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0px 3rem 0px 4rem;
	margin: 0;
}


/* Numbers blocks */
.block_number {
	position: absolute;
	left: calc(100%/2 - 5em/2);
	top: calc(100%/2 - 5em);		
	width: 5em;
	height: 5em;
	background-color: rgba(75, 38, 163, 1);
}

.block_number_span {
	display: block;
	position: relative;
	left: 1.6em;
	top: 1.1em;	
	height: 20px;
	width: 20px;
	font-size: 1.2em;
	color: white;
}

.block_number_span:before {
	content: "";	
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 5px;
	width: 100%;
	background-color: rgba(120, 75, 230, 1);
	border-radius: 25px;
}


@media (max-width: 640px) {
	.header {
	  	background-image: url("../images/football_767.jpg");		
	}
	
	.header_title {
		font-size: 1em;
	}
		
	.footer {
	  	background-image: url("../images/game_767.jpg");	  
	}
	
	.btn_container, .container_download {
		flex-direction: column;
	}
	
	.btn_apple, .btn_google {
		width: calc(100vw - 20vw);
		min-width: 25em;
		background-size: 3.5em;
		background-position: calc((100vw - 20vw)/4);
		padding-left: calc((100vw - 20vw)/4 + 6em);
		flex: none;
	}
	
	.download_app {
		font-size: 2.2em;	
	}
	
	.article_athlets .headers, .article_players .headers {
		padding: 1em 0 5em 1em;		
	}

	.img_footballer, .img_basketballer {
		width: 100%;
	}

	.img_footballer .images {
		position: absolute;		
		top: 7em;
		left: calc((100vw - 192px)/2);
		right: 0;
		bottom: 0;
	}

	.img_basketballer .images {
		position: absolute;		
		top: 8em;
		left: calc((100vw - 302px)/2);
		right: 0;
		bottom: 0;
	}
			
	.athlets_description, .players_description {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.athlets_description .connection_box, .athlets_description .collaboration_box, .athlets_description .growth_box {
		padding: 2em;		
	}

	.players_description .connection_box, .players_description .collaboration_box, .players_description .growth_box {
		padding: 2em;		
	}
}


@media (max-width: 960px) {
	.be_active, .find_contact, .work_it {
		flex-direction: column;		
	}
		
	.img_be_active, .img_find_contact, .img_work_it {
		width: 100%;
	}
	
	.img_find_contact {
		order: 0;
	}
			
	.text_be_active, .text_find_contact, .text_work_it {
		width: 100%;		
		min-height: 20rem;
		margin: 0;
		padding: 0px 3rem 0px 2rem;		
	} 
	
	.block_number {
		left: 2rem;
		top: calc(100% - 20rem - 4rem);
	}
	
	.container_download {
		flex-direction: column;
	}
		
	.container_logo {
		margin: 2em;
	}
		
	.download_name {
		text-align: center;
		margin: 0;
	}
		
	.download_p {
		margin: 0;
		font-size: 1em;
		font-style: normal;
		line-height: 1.5em;
		color: rgba(146, 129, 190, 1);			
	}
}


@media (min-width: 641px) and (max-width: 960px) {
	.header {
	  	background-image: url("../images/football_1280.jpg");		
	}
	
	.footer {
	  	background-image: url("../images/game_1280.jpg");	  
	}
	
	.header_title {
		font-size: 1.3em;
	}
	
	.download_app {
		margin: 0;
		padding: 0;
		font-size: 2.4em;	
	}
	
	.img_footballer .images {
		left: 0;
	}

	.img_basketballer .images {
		left: auto;
		right: 0;
	}
}

@media (min-width: 961px) {
	.header {
	  background-image: url("../images/football_1920.jpg");		
	}
	
	.footer {
	  background-image: url("../images/game_1920.jpg");	  
	}

	.download_name {
		margin: 0 0 0 1em;
	}
	
	.download_app {
		font-size: 2.7em;
	}
	
	.download_p {
		margin: 0;
		font-size: 0.9em;
		color: rgba(146, 129, 190, 1);				
	}	
}